{{ block "index-page" . }}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/htmx.org"></script>
</head>
<body class="bg-gray-100 text-gray-900">

  {{ template "nav-bar" . }}
  <div id="index">
  {{ template "home" . }}
  </div>
</body>
</html>
{{ end }}

{{ block "home" . }}
  <header class="bg-gray py-[255px]">
    <div class="container mx-auto text-center">
      <h1 class="text-5xl font-bold text-black">Hi, I'm Nishant Singh</h1>
      <p class="mt-4 text-lg text-black">A Passionate Developer Specializing in Web and Software Development</p>
      <a href="mailto:thakurnishant5102003@gmail.com?subject=Hi Nishant, I'd like to hire you" class="mt-6 inline-block bg-white text-black font-semibold py-2 px-6 rounded hover:bg-gray-200">
        Hire Me
      </a>
    </div>
  </header>
{{ end }}

{{ block "nav-bar" . }}
  <!-- Navbar -->
  <nav class="bg-gray-100 shadow-lg py-[13.5px] rounded-sm">
    <div class="container mx-auto flex justify-between items-center px-6">
      <div class="space-x-6">
        <a class="text-gray-700 hover:text-blue-600" style="cursor: pointer;"
          hx-target="#index" hx-get="/home"
            >Home</a>
        <a class="text-gray-700 hover:text-blue-600" style="cursor: pointer;"
          hx-target="#index" hx-get="/about"
            >About</a>
        <a class="text-gray-700 hover:text-blue-600" style="cursor: pointer;"
          hx-target="#index" hx-get="/project"
            >Projects</a>
        <a class="text-gray-700 hover:text-blue-600" style="cursor: pointer;"
           hx-target="#index" hx-get="/connect"
           >Connect</a>
      </div>
    </div>
  </nav>
{{ end }}

{{ block "healthz" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Health Status</title>
        <link rel="stylesheet" href="static/css/healthz.css">
    </head>
    <body>
        <div class="container">
            <div class="animated-person"></div>
            <div class="title">Application is Running</div>
        </div>
    </body>
</html>
{{ end }}
