{{ block "project" . }}
  <section class="py-20 bg-gray">
    <div class="container mx-auto px-6">
      <h2 class="text-3xl font-bold text-center text-gray-800 mb-8">Projects</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-10">
          {{ range .ProjectList }}
              <div class="flex flex-col justify-evenly mx-auto bg-gray-100 shadow-md rounded-lg p-6
                  hover:scale-105">
                  <h3 class="">
                      <a href="https://google.com" target="_blank" 
                          class="rounded text-xl font-semibold mb-2">
                      {{ .Title }}
                      </a>
                  </h3>
                  <p class="text-gray-600">{{ .Description }}</p>
              </div>
          {{ end }}
      </div>
    </div>
  </section>
{{ end }}
